@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a{
    background: $primary;
    &:hover{
        background-color: $primary-hover;
    }
}

nav li a{
    transition: $smooth;
    &:hover{
        color: $primary;
    }
}

section.hero{
    background: $secondary;
}

.size{
    background: $secondary;
}
.add-to-cart{
    border:2px solid $primary;
    color: $primary;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
        transition: $smooth;
    }
    &:focus{
        outline: none;
    }
}

.btn-primary{
    background: $primary;
    &:hover{
        background: $primary-hover;
        transition: $smooth;
    }
}

section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
}

section.login {
    background: $secondary;
    min-height: calc(100vh-86px);
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}

.noty_theme__mint.noty_bar{
    border-radius: 50px!important;
    padding-left: 8px!important;
}