<section class="cart py-16">
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
        <div class="pizza-list">
            <div class="flex item-center my-8">
                <img src="/img/pizza.png" alt="" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">₹250</span>

            </div>
            <div class="flex item-center my-8">
                <img src="/img/pizza.png" alt="" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">₹250</span>

            </div>
            <div class="flex item-center my-8">
                <img src="/img/pizza.png" alt="" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">₹250</span>

            </div>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Price</span>
                <span class="amount text-xl font-bold ml-2">₹750</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input type="text" class="border border-gray-400 p-2 w-1/2 rounded-lg mb-4" placeholder="Phone Number">
                    <input type="text" class="border border-gray-400 p-2 w-1/2 rounded-lg" placeholder="Address">
                    <div>
                        <button type="submit" class="btn-primary px-6 py-2 mt-6 rounded-full font-bold text-white">Order Now</button>
                    </div>
                    
                </form>
            </div>
            <!-- <a href="" class="inline-block cursor-pointer btn-primary px-6 py-2 mt-6 rounded-full font-bold text-white">Login to continue</a> -->
        </div>
    </div>


    <!-- <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty </h1>
            <p class="text-gray-500 text-lg mb-12"> You probably havn't ordered a pizza yet.<br>
                To order a pizza, go to th home page. 
            </p>
            <img src="/img/empty-cart.png" alt="empty-cart" class="w-2/5 mx-auto">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</a>
        </div>
    </div> -->
</section>